<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Post a comment</title>
</head>

<body>
    <div class="app__post">
        <h1>Create and Manage Posts</h1>
        <form action="" method="post" class="app__post-form">
            <h3>Create new posts</h3>
            <textarea name="post" id="post" rows="7"></textarea>
            <div class="btn-group">
                <button class="btn-primary">Submit</button>
                <button class="btn-primary">Cancel</button>
            </div>
            <h4>Already have an account? <a href="">Login here.</a> </h4>
        </form>
    </div>
</body>

</html>