* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

button[type="submit"],
button {
    padding: .25rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    min-width: 10rem;
    min-height: 3rem;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

button:active {
    transform: scale(.95);
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea,
select {
    padding: .25rem 1rem;
    min-height: 3rem;
    outline: none;
    border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
    border: 3px solid rgb(21, 119, 21);
}

.btn-primary {
    color: #1b88bb;
    
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
h5{
    font-size: 1rem;
}